<div class="container text-center fade-in">
<div class="row top-space">
  <div class="col-sm-6 col-lg-4">
    <div class = "col col-lg-3 margin-border">
      <img src="./assets/images/bela1.png"
      width="300" height="380" 
      class="rounded float-left" alt="me">
    </div>
  </div>
  <div class="col-md-7 padding-border margin-border">
    <h3 class="display-6">About me</h3>
    <p>My name is Bela Dalfior, I am currently a <a id ="intext">student</a> from UFOP (Universidade Federal de Ouro Preto) and I am also an <a id ="intext" [routerLink]="['/projects']">artist</a>.
      I am graduating at Information Systems, and I am expecting to become either a Front-End Developer or a Game Developer, which are
      my favorite areas.
      I have participated in a <a id ="intext" href="https://changethegame.ideiasdefuturo.com/" target="_blank" rel="noopener noreferrer">Game Development Competition</a> in 2021 and I was the leader - Mystical Bees was my team!
      By now, I have developed my skills and I hope I can create many projects from both areas, since it is certainly the thing that mostly enjoys me and makes me happy at all.
      I hope I despert your interest and we can <a id ="intext" [routerLink]="['/contact']">talk or work together</a>, so you can see what I see in what I do!
    </p>
  </div>
</div>

  
<div class="container top-space">
    <h2>Main Skills</h2>
</div>

<div class="row cols-1 cols-md-2 g-4">
  <div class="col">
    <div class="card padding-border">
      <img src="./assets/images/icons/webdesign.png"
      width="60" height="60"
      class="rounded mx-auto d-block margin-border" 
      alt="web design">
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text">Such as Angular, HTML5, SCSS/CSS, PHP...</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card padding-border">
      <img src="./assets/images/icons/controller.png"
      width="60" height="60"
      class="rounded mx-auto d-block margin-border"
       alt="controller">
      <div class="card-body">
        <h5 class="card-title">Gaming Programming</h5>
        <p class="card-text">Constructor, Unity, GameMaker...</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card padding-border">
      <img src="./assets/images/icons/computer.png"
      width="60" height="60"
      class="rounded mx-auto d-block margin-border"
      alt="computer programming">
      <div class="card-body">
        <h5 class="card-title">POO</h5>
        <p class="card-text">Such as Java, C#, Python...</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card padding-border">
      <img src="./assets/images/icons/art.png"
      width="60" height="60"
      class="rounded mx-auto d-block margin-border"
      alt="computer programming">
      <div class="card-body">
        <h5 class="card-title">Digital Art</h5>
        <p class="card-text">Comics, Concept Art, Scenarios, Comissions...
        </p>
      </div>
    </div>
  </div>
</div>

</div>
<div class = "container">
  <projects></projects>
</div>
