 <!-- Instagram -->
 <a class="btn btn-primary instagram" 
 style="background-color: #ac2bac;" 
 href="https://www.instagram.com/dalfiarts/" role="button"
 target="_blank" rel="noopener noreferrer"
 
 ><i class="fab fa-instagram"></i
 ></a>

<!-- Linkedin -->
<a class="btn btn-primary linkedin" 
style="background-color: #0082ca;" 
href="https://www.linkedin.com/in/beatriz-evelyn-dalfior-994b04209/"
target="_blank" rel="noopener noreferrer"
 role="button"
><i class="fab fa-linkedin-in"></i
></a>

<!-- Github -->
<a class="btn btn-primary github" 
style="background-color: #333333;" 
href="https://github.com/sakikout?tab=repositories"
target="_blank" rel="noopener noreferrer"
 role="button"
><i class="fab fa-github"></i
></a>