
.top-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-border {
    margin: 10px
}

.padding-border {
    padding: 10px;
}

.btn-outline-orange {
    color: #dc8635;
    --bs-btn-color: #dc8635;
    --bs-btn-border-color: #dc8635;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc8635;
    --bs-btn-hover-border-color: #dc8635;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dc8635;
    --bs-btn-active-border-color: #dc8635;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dc8635;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc8635;
     --bs-gradient: none;
}

.btn-outline-orange:hover, .btn-outline-orange:focus {
    color: white;
    box-shadow: 2px 2px 20px 2px #dc8635;
}

.btn-outline-blue {
    color: #3538dc;
    --bs-btn-color: #3538dc;
    --bs-btn-border-color: #3538dc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3538dc;
    --bs-btn-hover-border-color: #3538dc;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3538dc;
    --bs-btn-active-border-color: #3538dc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #3538dc;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #3538dc;
    --bs-gradient: none;
}

.btn-outline-blue:hover, .btn-outline-blue:focus {
    color: white;
    box-shadow: 2px 2px 20px 2px #3538dc;
}


.container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: large;
}

.title {
    background-color: #ebebeb;
    padding: 15px;
    text-align: center;
}

.card-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.fade-in {
    transition: opacity 500ms ease-in;
    animation: fading 1.0s;
}

  @keyframes fading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}